@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display+SC');


@media screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    grid-auto-flow: column;
    grid-gap: 1em;
  }
}

header {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;
  grid-gap: .1rem;
  background-color: #b1b5bc;
  padding: 20px;
}

.grid-item {
  padding-top: 20px;
  grid-column-start: 0;
}

.grid-item0 {
  padding-top: 20px;
  grid-column-start: 3;
  grid-row-start: 2;
  z-index: -1;
}

.grid-item00 {
  padding-top: 20px;
  grid-column-start: 8;
}

.nav-item {
  align-items: flex-end;
  font-family: 'Playfair Display SC', serif;
}

.grid a {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

.img-resize1 {
  width: 460px;
}

.img-resize2 {
  width: 700px;
}

/* .img-resize3 {
  width: 400px;
} */

/* .img-resize1,
.img-resize2 {
  grid-row-start:  1;
  grid-column-end: span 2;
}

.img-resize1 { grid-column-start: 1; z-index: 1; }
.img-resize2 { grid-column-start: 2 } */


.grid2 {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}


.grid-item2 {

}
